/* GENERALES */

* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 22px;
}

/* diferentes cabeceras en todo el documento */
h1 {
    font-size: 45px;
    font-family: 'Lobster Two', cursive;
}

h2 {
    font-size: 35px;    
    font-weight: lighter;
}

h3 {
    font-size: 30px;
    font-weight: lighter;
    font-family: 'Lobster Two', cursive;
}

/* Elimina los marcadores */
ul {
    list-style: none;
    padding: 10px;
}

.supercontenedor {
    
    display: flex;
    justify-content: center;
}

.contenedor {    
    width: 90%;
    display: grid;
    grid-template-rows: auto auto;
}

/* contiene las dos columnas */
.columnas {    
    margin: auto;
    margin-top: 10px;
    display: grid;
    grid-template-columns: 3fr 5fr;
    border: solid 1px #8a2be2;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/* COLUMNA DE LA IZQUIERDA */
/* Columna con motivos, bordes redondeados a la izquierda y rectos a la derecha */
.columnaIzquierda {
    background-color: #dfd6ed;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='32' viewBox='0 0 16 32'%3E%3Cg fill='%23af9bd0' fill-opacity='0.48'%3E%3Cpath fill-rule='evenodd' d='M0 24h4v2H0v-2zm0 4h6v2H0v-2zm0-8h2v2H0v-2zM0 0h4v2H0V0zm0 4h2v2H0V4zm16 20h-6v2h6v-2zm0 4H8v2h8v-2zm0-8h-4v2h4v-2zm0-20h-6v2h6V0zm0 4h-4v2h4V4zm-2 12h2v2h-2v-2zm0-8h2v2h-2V8zM2 8h10v2H2V8zm0 8h10v2H2v-2zm-2-4h14v2H0v-2zm4-8h6v2H4V4zm0 16h6v2H4v-2zM6 0h2v2H6V0zm0 24h2v2H6v-2z'/%3E%3C/g%3E%3C/svg%3E");
    border-right: 1px solid #8a2be2;
    border-top-left-radius: 10px;
}

/* centro la fotografia */
.fotografia {
    display: flex;
    justify-content: center;
    align-items: center;    
}

/* aplico a la fotografía un borde sombreado elíptico  y un hover */
.fotografia img {
    object-fit: cover; 
    max-width: 100%;   
}

.fotografia .sombreada {
    border-radius: 50%;
    border: none;
    border: 4px solid #ccc;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); 
}

.fotografia .sombreada:hover {
    transform: scale(1.05); 
    box-shadow: 0px 12px 30px rgba(0, 0, 0, 0.4);
}

/* perfil profesional */
.perfil {
    display: flex;
    flex-direction: column;
}
.perfil h1,
.perfil h2 {
    text-align: center;
}

.perfil h2 {
    margin-top: 20px;
    margin-bottom: 40px;
}

.perfil h3 {
    margin-top: 90px;
}

/* aplico un borde mas claro en diversos apartados */
.columnaIzquierda .contenido {
    background-color: whitesmoke;
    border: 5px solid white;
    border-radius: 10px;   
}

/* separo entre ellos los apartados de la columna de la izquierda */
.fotografia,
.perfil,
.contacto,
.titulacion,
.capacidades,
.idiomas {
    padding: 30px;
}

/* separo las cabeceras h3 y las alineo al centro */
.fotografia h3,
.perfil h3,
.contacto h3,
.titulacion h3,
.capacidades h3,
.idiomas h3 {
    text-align: center;
    padding-bottom: 20px;
}

/* separo los elementos de la lista de los datos de contacto */
.contacto li {
    padding: 10px;
    font-size: 1.3rem;
}

/* en datos de contacto separo el icono de los datos */
.contacto i {
    padding-right: 15px;
}

/* en titulación separo las listas entre ellas */
.titulacion  ul {
    padding-top: 20px;    
}

/* capacidades */
.capacidades .contenido {
    display: flex;
    align-items: center;
    gap: 30px;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-top: 10px;    
}

.capacidades .contenido .capacidad p{
    font-size: 22px;
}

.capacidades .estrellas {
    font-size: 1.2rem;
    color: gold;
}

/* COLUMNA DE LA DERECHA */
.columnaDerecha {    
    background-color: #fcf9ff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%239C92AC' fill-opacity='0.35' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.experiencia,
.cursos,
.trabajos {
    margin: 8%;
}

/* aplico un borde mas claro en diversos apartados */
.experiencia .cabecera,
.cursos .cabecera,
.trabajos .cabecera {
    background-color: #dfd6ed;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='32' viewBox='0 0 16 32'%3E%3Cg fill='%23af9bd0' fill-opacity='0.48'%3E%3Cpath fill-rule='evenodd' d='M0 24h4v2H0v-2zm0 4h6v2H0v-2zm0-8h2v2H0v-2zM0 0h4v2H0V0zm0 4h2v2H0V4zm16 20h-6v2h6v-2zm0 4H8v2h8v-2zm0-8h-4v2h4v-2zm0-20h-6v2h6V0zm0 4h-4v2h4V4zm-2 12h2v2h-2v-2zm0-8h2v2h-2V8zM2 8h10v2H2V8zm0 8h10v2H2v-2zm-2-4h14v2H0v-2zm4-8h6v2H4V4zm0 16h6v2H4v-2zM6 0h2v2H6V0zm0 24h2v2H6v-2z'/%3E%3C/g%3E%3C/svg%3E");
    border-radius: 10px;
    border: solid 1px #8a2be2;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 20px;    
}

/* experiencia laboral */
.experiencia .contenido {
    padding: 30px;
}

.experiencia h3 {
    margin-bottom: 5px;
}
.experiencia h4 {
    margin-bottom: 20px;
    font-weight: lighter;
}

/* cursos */
.cursos .contenido {
    display: flex;
    gap: 40px;
    margin-top: 10px;
    padding: 20px;    
}

/* trabajos */
.trabajos .contenido {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    gap: 30px;
    margin-top: 10px;
    padding: 20px;
}

.trabajos .contenido h3 {
    font-weight: lighter;
}

.trabajos .contenido .izquierda {
    text-align: center;
}

.trabajos .contenido .izquierda h3 {
    padding-bottom: 15px;
}

.trabajos .contenido .izquierda img {
    border-radius: 10px;
    max-width: 100%;
}

.trabajos .contenido .derecha {
    margin-top: 30px;
}

.trabajos .contenido .derecha p {
    margin-bottom: 15px;
}

.trabajos .contenido .derecha a {
    font-style: oblique;
    font-weight: bold;
    text-decoration: none;
    color: #708090;    
}

.trabajos .contenido .derecha a:hover {
    transform: scale(1.1);
}

/* copyright */
.copyright {
    height: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    color: whitesmoke;
    background-color: slategrey;
    border: 1px solid #8a2be2;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;    
}





/* RESPONSIVE */
@media (max-width: 500px) {
    /* body {
        background-color: red;        
    } */
    
    h3 {
        font-size: 1.9rem;
    }

    .contenedor {
        width: 85%
    }
    /* Las dos columnas pasan a ser una */
    .columnas {   
        grid-template-columns: 1fr;        
    }

    /* Ajusto los bordes elipticos y rectos de ambas columnas */
    .columnaIzquierda {
        border-top-right-radius: 10px;
        border-right: 0px solid #8a2be2;
    }

    .fotografia, .perfil, .contacto, .titulacion, .capacidades, .idiomas {
        padding: 15px;
    }

    /* Elimino el hover de mi fotografía */
    .fotografia .sombreada:hover {
        transform: none;
        box-shadow: none;     
    }

    .contacto li {
        padding: 5px;       
    }
    /* Hago mas pequeñas las fuentes de los datos de contacto y titulaciones */
    .contacto .contenido li {
        font-size: 0.7rem;
    }
    
    .titulacion .contenido li {
        font-size: 1rem;
    }

    .capacidad {
        padding-left: 0px;
    }

    .capacidades .estrellas {
        font-size: 1.2rem;
    }

    .capacidades .capacidad p {
        font-size: 1.4rem;
    }

    .columnaDerecha {    
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        border-right: 0px solid #8a2be2;
    }

    .columnaDerecha h2 {
        font-size: 1.7rem;
     }

    .experiencia,
    .cursos,
    .trabajos {
        margin: 4%;
    }

    .experiencia .cabecera,
    .cursos .cabecera,
    .trabajos .cabecera {
        margin-top: 40px;
        margin-bottom: 30px;
    }

    .experiencia .contenido {
        padding: 20px;
    }

    .cursos .contenido {
        gap: 15px;
        padding: 10px;
    }
        
    .trabajos .contenido {
        grid-template-columns: auto;
        padding: 0px;
        background-color: #E6E6FA;
        border: 1px solid #8a2be2;
        border-radius: 10px;
    }

    .trabajos .contenido .izquierda h3{
        background-color: #9370DB;
        color: white;
        font-size: 1.2rem;
        height: 15px;
        text-align: left;
        padding-left: 15px;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
    }

    .trabajos .contenido .izquierda img {
        max-width: 75%;
        margin-top: 20px;
        border: 1px solid #8a2be2;
        border-radius: 10px;
        
    }

    .trabajos .contenido .derecha {
        padding-right: 15px;
        padding-left: 15px;
        padding-bottom: 15px;
        margin-top: 5px;        
    }

   .copyright {            
        font-size: 0.8rem;
    }
}