/* Estilos globales para la pagina */
* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}


body{
  font-family: 'Roboto Slab', serif;
  background-color: #faf9fd;
  color: #6c5792;
}

/* Tamaño relativo a la pantalla y que quede centrado */
.container {
  width: 90%;
  margin: auto;
}

/* PRIMER BLOQUE: FOTOGRAFÍA Y CARTA DE PRESENTACION  */
.fotografia-presentacion {
    border: 1px solid black;
    /* Patrón de fondo de pantalla obtenido desde https://www.heropatterns.com/ */
    background-color: #DFDBE5;
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='16' viewBox='0 0 12 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 .99C4 .445 4.444 0 5 0c.552 0 1 .45 1 .99v4.02C6 5.555 5.556 6 5 6c-.552 0-1-.45-1-.99V.99zm6 8c0-.546.444-.99 1-.99.552 0 1 .45 1 .99v4.02c0 .546-.444.99-1 .99-.552 0-1-.45-1-.99V8.99z' fill='%239C92AC' fill-opacity='0.29' fill-rule='evenodd'/%3E%3C/svg%3E");
    display: grid;
    grid-template-columns: 40% auto;
    margin: 30px 0;
 }

.fotografia{
  border-right: 1px solid black;
  text-align: center;
}

.mi-fotografia {
  /* Tamaño */
  width: 190px;
  margin: 40px;
  box-shadow: 2px 2px 2px 2px;
}

.presentacion{
  margin: 40px;
  font-size: 120%;
}

.presentacion h3{
  margin-top: 10px;
}

.presentacion hr{
  margin-top: 20px;
  margin-bottom: 20px;
}

/* SEGUNDO BLOQUE: CONTACTO Y FORMACIÓN */
.contacto-formaciones {
  border: 1px solid black;
  display: grid;
  grid-template-columns: 40% auto;
  margin: 30px 0;
}

.contacto{
  border-right: 1px solid black;
  padding: 30px;
  font-size: 120%;
}

.contacto h3,
.formaciones h3{
  text-align: center;
}

.contacto hr{
  margin-top: 20px;
  margin-bottom: 30px;
}

.contacto li {
  list-style:none;
  margin-bottom: 15px;
}

.contacto i{
  margin: 10px;
}

.formaciones{
  /* background: lightsalmon; */
  padding: 30px;
  font-size: 120%;
}

.formacion h4{
  margin-top: 30px;
  margin-bottom: 15px;
}

.formaciones hr{
  margin-top: 20px;
  margin-bottom: 30px;
}

.formacion li{
  margin: 0 30px;
  padding: 5px 0;
}

/* TERCER BLOQUE: EXPERIENCIA LABORAL */
.experiencias{
  border: 1px solid black;
  /* background: lightgray; */
  display:grid;
  grid-template-columns: 33% 33% 34%;
  margin: 30px 0;
}

.experiencias h3{
  grid-column: 1 / span 3;
  font-size: 130%;
  font-weight: bold;
  height: 70px;
  padding: 20px 20px 20px 20px;
  border: 1px solid black;
  background-color: #6c5792;
  opacity: 0.6;
  color: white;
}

.experiencia1 h4,
.experiencia2 h4,
.experiencia3 h4 {
  margin-top: 20px;;
  padding: 10px 0 0 20px;
}

.experiencia1 h5,
.experiencia2 h5,
.experiencia3 h5 {
  padding: 5px 0 0 20px;
}

 .experiencia1 hr,
 .experiencia2 hr,
 .experiencia3 hr{
  margin-top: 20px;
  margin-bottom: 20px;
 }

.experiencia1 ul,
.experiencia2 ul,
.experiencia3 ul{
  margin-top: 20px;
  padding: 0 20px;
}

.experiencia1 li,
.experiencia2 li,
.experiencia3 li{
  margin: 15px 20px; 
  padding: 5px 0;  
}
/* CUARTO BLOQUE: BANNER PARA LAS WEBS */
.webs{
  border: 1px solid black;
  background: lightpink;
  display:grid;
  grid-template-columns: auto auto auto auto;
}

.webs h2{
  grid-column: 1 / span 4;
}

.web{
  border: 1px solid black;
}

/* RESPONSIVE ANCHO MENOR DE 700px*/
@media (max-width: 700px){
  /* body{
    background-color: lightcoral;
  } */

  .fotografia-presentacion {
    grid-template-columns: auto;
 }

  .contacto-formaciones {
    grid-template-columns: auto;
  }

  .experiencias{
    grid-template-columns: auto auto;
  }

  .experiencias h3{
    grid-column: 1 / span 2;
  }

  .experiencia3{
    grid-column: 1 / span 2;
  }

  .experiencia3 hr{
    margin-top: 10px;
   }
}

/* RESPONSIVE ANCHO MENOR DE 500px*/
@media (max-width: 500px){
  /* body{
    background-color: lightblue;
  } */

  .contacto{
    border-right: 1px solid black;
    padding: 20px;
  }

  .experiencias{
    /* grid-template-columns: auto; */
    display:block;
  }

  .experiencias h3{
    text-align: center;
  }


}